body {
	background-color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding-bottom: 30px;
}

.results {
	padding-top: 30px;
}

h3 {
	padding-top: 120px;
	color: black;
	font-size: 30px;
	margin-right: 40px;
}

.btn {
	margin-right: 20px;
}

.welcome {
	padding-bottom: 50px;
	font-size: 40px;
	font-family: 'Risque', cursive;
}

